@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Willkommen in der neuen Corona Testzentrum</h2>
    <img src="~/images/crts.png" alt="Logo" />
    <hr />
    <h4>Haare selber schneiden im Corona-Lockdown </h4>
    <h4>oder auf die Friseure warten?</h4>
    <hr />
    <h4>Haare selbst schneiden: Zu viel Risiko?</h4>
    <h4>Dann lohnt sich einen Corona Schnelltest bei uns zu machen</h4>
    <hr />
    <h5>Nur bei uns "Fälschungssichere Lösung"</h5>
    <h6>Wir testen euch alle...</h6>
</div>
