@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="text-center">
        <h4 class="display-4">Willkommen in der neuen Corona Testzentrum</h4>
        <img src="~/images/crts.png" alt="Logo" />
        <hr />
        <h4 style="color: brown">Haare selber schneiden im Corona-Lockdown </h4>
        <h4 style="color: brown">oder auf die Friseure warten?</h4>
        <hr />
        <h4 style="color: darkviolet">Haare selbst schneiden: Zu viel Risiko?</h4>
        <h4 style="color: darkviolet">Dann lohnt es sich einen Corona Schnelltest bei uns zu machen</h4>
        <hr />
        <h5 style="background-blend-mode: color-burn">Nur bei uns "Fälschungssichere Lösung"</h5>
        <!------------------------- Start blinking JS -------------------------------------->
        <marquee width="300" scrollamount="300" scrolldelay="3000">Wir testen euch alle...</marquee>
        <!------------------------- The End -------------------------------------------------->
    </div>
</body>
