@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="text-center">
        <h3 class="display-4">Willkommen in der neuen Corona Testzentrum</h3>
        <img src="~/images/crts.png" alt="Logo" />
        <hr />
        <h4>Haare selber schneiden im Corona-Lockdown </h4>
        <h4>oder auf die Friseure warten?</h4>
        <hr />
        <h4>Haare selbst schneiden: Zu viel Risiko?</h4>
        <h4>Dann lohnt sich einen Corona Schnelltest bei uns zu machen</h4>
        <hr />
        <h5>Nur bei uns "Fälschungssichere Lösung"</h5>
        <!------------------------- Start blinking JS -------------------------------------->
        <marquee width="300" scrollamount="300" scrolldelay="3000">Wir testen euch alle...</marquee>
        <!------------------------- The End -------------------------------------------------->
    </div>
</body>
