@page
@model CoronaTest.Web.Pages.Security.TokenErrorModel
@{
    ViewData["Title"] = "TokenError";
}
<h3>Der Token ist nicht gültig!</h3>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="~/Index">Home</a>
</li>